# Derleme Klasörleri
bin/
obj/

# Visual Studio Kullanıcı Dosyaları
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Geçici Dosyalar
*.tmp
*.temp
*.log

# Yedek Dosyalar
*.bak
*.old

# Paket Yönetimi
packages/
*.nupkg
project.lock.json

# Çıktı Dosyaları
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.idb

# ReSharper ve Rider
.idea/
*.DotSettings.user

# Diğer Gereksiz Dosyalar
*.db
*.sqlite
